{% extends 'baseFront.html.twig' %}

 {% block hero_section %}
     <section id="hero" class="hero">
         <div class="container position-relative">
             <div class="row gy-5" data-aos="fade-in">
                 <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                     <h2>Bienvenue a  <span>EcoCycla</span></h2>
                     <h3> espace edit don </h3>

                 </div>
                 <div class="col-lg-6 order-1 order-lg-2">
                     <img src="assets1/img/ecotrans.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
                 </div>
             </div>
         </div>



         </div>
     </section>

 {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto mt-5">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h3 class="card-title">{{ form_title(form) }}</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div class="form-group">
                            {{ form_label(form.poids, 'Poids :') }}
                            {{ form_widget(form.poids, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.descriptionD, 'Description :') }}
                            {{ form_widget(form.descriptionD, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.etat, 'Etat :') }}
                            {{ form_widget(form.etat, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.date, 'Date :') }}
                            {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.iduserdon, 'Donateur :') }}
                            {{ form_widget(form.iduserdon, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.idCategorie, 'Catégorie :') }}
                            {{ form_widget(form.idCategorie, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
