{% extends 'baseFront.html.twig' %}



{% block hero_section %}
    <section id="hero" class="hero">
        <div class="container position-relative">
            <div class="row gy-5" data-aos="fade-in">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                    <h2>Bienvenue a  <span>EcoCycla</span></h2>
                    <h3> Détails du don </h3>

                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <img src="assets1/img/ecotrans.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
                </div>
            </div>
        </div>



        </div>
    </section>

{% endblock %}

{% block title %}Détails du don{% endblock %}

{% block body %}
    <div class="container">
        <h1>Détails du don</h1>

        <table class="table table-striped">
            <tbody>
            <tr>
                <th>ID</th>
                <td>{{ don.id }}</td>
            </tr>
            <tr>
                <th>descriptionD</th>
                <td>{{ don.descriptionD }}</td>
            </tr>
            <tr>
                <th>Categorie de don</th>
                <td>{{ don.idCategorie.nom }}</td>
            </tr>
            <tr>
                <th>pois</th>
                <td>{{ don.poids }}  Kg
                </td>
            </tr>
            <tr>
                <th>Date du don</th>
                <td>{{ don.date|date('d/m/Y') }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('don_edit', {'id': don.id}) }}" class="btn btn-primary">Modifier</a>
        <a href="{{ path('don_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>
{% endblock %}

